.font-size-12 {
  font-size: 12px !important;
}
.font-size-14 {
  font-size: 14px !important;
}
.font-size-16 {
  font-size: 16px !important;
}
.font-size-18 {
  font-size: 18px !important;
}

.container-max-width {
  max-width: 1400px;
  margin: 0 auto;
}

@media screen and (min-width: 960px) {
  .font-size-md-20 {
    font-size: 18px !important;
  }
  .font-size-md-22 {
    font-size: 18px !important;
  }
  .font-size-md-24 {
    font-size: 18px !important;
  }
  .font-size-md-26 {
    font-size: 18px !important;
  }
}
